li {
  display: inline;
  background-color: crimson;
  padding: 15px 40px;
  border-radius: 10px;
  border-color: blueviolet;
}
ul {
  margin: 10px;
  padding: 10px;
}
video {
  height: 200px;
  width: 150px;
}
tr {
  background-color: blueviolet;
}
image {
  height: 300px;
  width: 150px;
}
